@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Luisa Katrina Pangilinan View your definition  <a href="/Card">here</a>.</p>
</div>